<div class="row">
    <div id="leftCol" class="col-xs-9">
      <h3><%= song.title %></h3>
      
      <% end %>
    </div>

    <div id="rightcol" class="col-xs-3">
      <p><%= image_tag(song.image_url, alt: "", class: 'thumb')  %></p> 
    </div>
</div>  

<div class="row">
   <div class="col-xs-12">
  
    <!-- <p>
    <%= link_to 'Edit', edit_song_path(item) %>
    *
    <%= link_to 'Delete', song_path(song), method: :delete %>
    </p>

    <!-- <p>Click here for more about: <%= link_to(song.title, song_path(song)) %> -->
    </p>
    <hr />
   </div> 
</div>